html {
  font-size: 1.1em;
}

body {
  font-family: "roboto", "sans-serif";
}

.main-header {
  background: #f3f3f3;
  padding: 20px;
  margin-bottom: 40px;
}

.name {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  color: #525252;
}

.navbar {
  margin-bottom: 40px;
}

.navbar a:link,
a:visited {
  color: #525252;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #ffba3a;
}

.profile {
  text-align: center;
}

.profile-image {
  width: 70%;
}

.about-me {
  line-height: 1.5;
  color: #414141;
}

.section-title {
  color: #383838;
  text-align: center;
  margin-bottom: 40px;
}

.project {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px;
}

.project-image {
  width: 100%;
}

.project-title {
  color: #525252;
}

.project-description {
  color: #8a8a8a;
}

.footer {
  background: #f3f3f3;
  padding: 40px 20px;
  text-align: center;
  color: #525252;
}

.contact {
  color: #525252;
}

.signature {
  display: flex;
  justify-content: space-between;
  color: #383838;
}

.back-to-top:link,
.back-to-top:visited {
  text-decoration: none;
}

.back-to-top:hover {
  color: #ffba3a;
  text-decoration: underline;
}
